body {
    background-color: #2f3e4f;
}

.legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
    font-family: monospace;
    padding: 16px;
}

.legend img {
    width: 20%;
}