body {
    background-color: #2f3e4f;
    background-image: url("images/money.gif");
    background-size: cover;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.legend {
    background-color: #808ca8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f0f1f2;
    font-family: monospace;
    padding: 16px;
    margin-bottom: 16px;
}

.legend img {
    width: 30%;
}

.brainrot {
    background-color: #808ca8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f0f1f2;
    font-family: monospace;
    padding: 16px;
    margin-bottom: 16px;
}

.brainrot img {
    display: block;
    width: 25%;
    margin: 0 auto;
}

.skeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f0f1f2;
    font-family: monospace;
    margin-bottom: 16px;
}

.skeleton img {
    display: block;
    width: 10%;
    margin: 0 auto;
}